$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

@import "variable";
@import "mixin";
@import "header";
@import "footer";
@import "home-slider";
@import "movie-list";
@import "search-bar";
@import "browse-movie";


body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: lighten($black, 50%);

  &:hover, &:focus {
    color: lighten($black, 40%);
    text-decoration: none;
  }
}

.body-container-wrapper {
  min-height: calc(100vh - 51px - 41px);
}

.container {
  width: 100%;

  @media (min-width: $screen-sm-min) {
    max-width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    max-width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    max-width: $container-lg;
  }
}
