$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,500i,700,900";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

@import "variable";
@import "mixin";
@import "header";
@import "home-slider";
@import "movie-list";


body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: lighten($black, 50%);

  &:hover, &:focus {
    color: lighten($black, 40%);
    text-decoration: none;
  }
}

.container {
  width: 100%;

  @media (min-width: $screen-sm-min) {
    max-width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    max-width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    max-width: $container-lg;
  }
}
