<!--Home Movie Slider-->
<section class="home-slider-container-wrapper">
  <div class="home-slider-container" data-nf-if="HomeCtrl.movieData">
    <div data-uib-carousel data-active="HomeCtrl.sliderConfiguration.active" data-interval="HomeCtrl.sliderConfiguration.interval" data-no-wrap="HomeCtrl.sliderConfiguration.noWrapSlides">
      <div data-uib-slide data-ng-repeat="sliderMovieData in HomeCtrl.movieData | orderBy: '-rating' | limitTo: 5 track by $index" index="$index">
        <div class="background-image" style="background-image: url('{{sliderMovieData.background_image_original}}')"></div>
        <div class="background-overlay"></div>
        <div class="slider-content-wrapper">
          <div class="slider-content text-center">
            <h2 class="slider-title text-uppercase">{{ sliderMovieData.title_english }}</h2>
            <div class="slider-movie-image-wrapper">
              <img class="slider-movie-image" data-ng-src="{{ sliderMovieData.large_cover_image }}" alt=" {{ sliderMovieData.title_long }} ">
            </div>
            <h4><strong>Release Date: </strong> {{ sliderMovieData.year }}</h4>
            <h4><strong>Movie Rating: </strong> {{ sliderMovieData.rating }}</h4>
            <div class="list-category-wrapper" data-ng-if="sliderMovieData.genres">
              <ul class="list-category list-inline">
                <li data-ng-repeat="generName in sliderMovieData.genres"><i>{{ generName }}</i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Home Movie Listing-->
<section class="home-movie-listings-wrapper light-grey-bg">
  <div class="home-movie-listings">
    <div class="container">
      <div class="row page-title">
        <div class="col-sm-8">
          <h3>Latest Movies</h3>
        </div>
        <div class="col-sm-4 text-right">
          <a href="#" class="more" data-ui-sref="browse-movies">Browse All</a>
        </div>
      </div>
      <div class="row movie-listing">
        <div class="col-lg-3 col-md-4 col-sm-6 movie-list" data-ng-repeat="movieData in HomeCtrl.movieData | limitTo: 9 track by $index" data-ng-class="'movie-list-'+($index+1)">
          <div class="movie-wrapper text-center">
            <a href="javascript:;" class="browse-movie-link">
              <figure>
                <img src="" data-ng-src="{{ movieData.medium_cover_image }}" alt="{{ movieData.title_long }}">
                <figcaption class="text-center">
                  <div class="icon-star-wrapper">
                    <i class="glyphicon glyphicon-star-empty"></i>
                  </div>
                  <h4 class="rating">{{movieData.rating}} / 10</h4>
                  <h4 class="genres" data-ng-repeat="genres in movieData.genres | limitTo: 2">{{genres}}</h4>
                  <button type="button" class="btn btn-success">Details</button>
                </figcaption>
              </figure>
            </a>
            <div class="browse-movie-bottom">
              <a href="javascript:;" class="browse-movie-title" title="{{ movieData.title_english }}">{{ movieData.title_english }}</a>
              <div class="browse-movie-year">{{movieData.year}}</div>
              <div class="browse-movie-tags">
                <a data-ng-repeat="torrentDetails in movieData.torrents" href="{{torrentDetails.torrentDetails}}" title="Download {{ movieData.title_english }} {{ torrentDetails.quality }} Torrent">{{ torrentDetails.quality }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Home Upcoming Movies-->
<!--<section class="home-movie-listings-wrapper">-->
  <!--<div class="home-movie-listings">-->
    <!--<div class="container">-->
      <!--<div class="row page-title">-->
        <!--<div class="col-sm-12">-->
          <!--<h3>Upcoming YIFY Movies</h3>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
