<section class="home-slider-container-wrapper">
  <div class="home-slider-container" data-nf-if="HomeCtrl.movieData">
    <div uib-carousel active="HomeCtrl.sliderConfiguration.active" interval="HomeCtrl.sliderConfiguration.interval" no-wrap="HomeCtrl.sliderConfiguration.noWrapSlides">
      <div uib-slide ng-repeat="sliderMovieData in HomeCtrl.movieData | orderBy: '-rating' | limitTo: 5 track by $index" index="$index">
        <div class="background-image" style="background-image: url('{{sliderMovieData.background_image_original}}')"></div>
        <div class="background-overlay"></div>
        <div class="slider-content-wrapper">
          <div class="slider-content text-center">
            <h2 class="slider-title text-uppercase">{{ sliderMovieData.title_english }}</h2>
            <img class="slider-movie-image" data-ng-src="{{ sliderMovieData.large_cover_image }}" alt=" {{ sliderMovieData.title_long }} ">
            <h4><strong>Release Date: </strong> {{ sliderMovieData.year }}</h4>
            <h4><strong>Movie Rating: </strong> {{ sliderMovieData.rating }}</h4>
            <div class="list-category-wrapper" data-ng-if="sliderMovieData.genres">
              <ul class="list-category list-inline">
                <li data-ng-repeat="generName in sliderMovieData.genres"><i>{{ generName }}</i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
